body{
    display: block;
    background-color: skyblue;
}
#divTitulo{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: 'Wallpoet', cursive;
}

.container{
    margin: 20px;
    margin-left: 20%;
    padding: 20px;
    height: 100%;
    width: 60%;
    text-align: center;
    background-color: lightgrey;
    position: relative;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black ;
    border-radius: 1em;
}
.pantalla{
    display: grid;
    grid-template-rows: 50% 50% ;
    height: 100px;
    margin: 5px;    
    margin-bottom: 15px;
    padding: 3px;
    background-color: white;
    position: relative;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    font-family: 'Wallpoet', cursive;
}
.d{
    
    margin: 2px;
    padding: 2px;
}
#d1{
    text-align: start;
    border-bottom-style: dashed;
    border-color: black;
}
#d2{
    text-align: end;
}
#botonera{
    text-align: center;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-gap: 5px;
    padding: auto;
    padding-bottom: 22px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    border-radius: .5em;
    font-family: 'Wallpoet', cursive;
    font-size: 1.5em;
}

button{
    text-align: center;
    height: 100%;
    width: 100%;
    border-color: green;
    
}
.boton{
    width: 80%;
    height: 80%;
    text-align: center;
    margin: 5px;
    padding: auto;
}
